# See https://help.github.com/articles/ignoring-files for more about ignoring files.

# Bundler config
/.bundle

# Env files
/.env*
!/.env*.erb

# Logs & temp
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Storage
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Assets
/public/assets
/public/packs
/public/packs-test
/app/assets/builds/*
!/app/assets/builds/.keep

# Master key
/config/master.key
/config/credentials/*.key

# Node modules
/node_modules
yarn-error.log
npm-debug.log
pnpm-debug.log

# Ruby vendor
/vendor/bundle
*.gem

# OS/Editor files
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Docker artifacts
*.pid
*.log
docker-compose.override.yml
